<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="gear" >

  <!-- include the arm xacro -->
  <xacro:include filename="$(find osrf_gear)/launch/ur10/ur10.urdf.xacro" />
  <xacro:property name="wrist_link" value="wrist_3_link" />

  <!-- vacuum gripper -->
  <xacro:include filename="$(find osrf_gear)/launch/vacuum_gripper/vacuum_gripper.urdf.xacro" />

  <xacro:create_vacuum_gripper wrist_link="${wrist_link}" >
    <drops_info>
    </drops_info>
  </xacro:create_vacuum_gripper>

  <!-- linear arm actuator -->
  <xacro:include filename="$(find osrf_gear)/launch/linear_arm_actuator/linear_arm_actuator.urdf.xacro" />

  <xacro:create_linear_arm_actuator base_link="base_link" />

  <!-- world link -->
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="linear_arm_actuator" />
    <origin xyz="0.0 0.0 1" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- sensor links and fixed joints -->

  <!-- a proximity_sensor type sensor in the frame proximity_sensor_1_frame -->
  <link name="proximity_sensor_1_frame" />
  <joint name="proximity_sensor_1_joint" type="fixed">
    <parent link="world" />
    <child link="proximity_sensor_1_frame" />
    <origin xyz="0.8 4.4 1.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- a laser_profiler type sensor in the frame laser_profiler_1_frame -->
  <link name="laser_profiler_1_frame" />
  <joint name="laser_profiler_1_joint" type="fixed">
    <parent link="world" />
    <child link="laser_profiler_1_frame" />
    <origin xyz="1.21816 4.0 1.24" rpy="-3.14159265359 1.57079632679 1.57079632679" />
  </joint>

  <!-- a logical_camera type sensor in the frame logical_camera_1_frame -->
  <link name="logical_camera_1_frame" />
  <joint name="logical_camera_1_joint" type="fixed">
    <parent link="world" />
    <child link="logical_camera_1_frame" />
    <origin xyz="0.0 0.5 5.0" rpy="0.0 1.57079632679 0.0" />
  </joint>

  <!-- a break_beam type sensor in the frame break_beam_1_frame -->
  <link name="break_beam_1_frame" />
  <joint name="break_beam_1_joint" type="fixed">
    <parent link="world" />
    <child link="break_beam_1_frame" />
    <origin xyz="1.6 2.25 0.95" rpy="0.0 0.0 3.14159265359" />
  </joint>

  <!-- plugin to spawn gazebo scene data into the moveit scene -->
  <!--
  <gazebo>
    <plugin filename="libgazebo_ros_moveit_planning_scene.so" name="gazebo_ros_moveit_planning_scene">
      <topicName>/planning_scene</topicName>
      <sceneName>workcell</sceneName>
      <robotName>robot</robotName>
      <updatePeriod>0.5</updatePeriod>
    </plugin>
  </gazebo>
  -->

</robot>
