build
install
devel

#repos
.git

#clion
.idea

#cmake
cmake-build-debug
gtest
CMakeFiles
catkin_generated
catkin
cmake

#vim
*/.#*
.#*

#temp files
*~
.*~
default_warehouse_mongo_db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
