<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
    
  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="follow_joint_trajectory" to="araic/arm/follow_joint_trajectory"/>
  <remap if="$(arg sim)" from="joint_states" to="ariac/joint_states"/>
  
  <!-- Launch moveit -->
  <include file="$(find ur10_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
